<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="4; url=http://agr.p.alexu.edu.eg/Results/Student/Account">
        <title>Title Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
            <section class="hero is-fullheight is-success is-bold">
                    <div class="hero-body">
                      <div class="container has-text-centered">
                        <h1 class="title">
                            Successed!
                        </h1>
                        <h2 class="subtitle">
                          Check your account now..
                        </h2>
                        <h3 class="subtitle">
                            Redirect
                        </h3>
                      </div>
                    </div>
                  </section>
    </body>
</html>